*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background: black;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.logo{
    width: 40px;
}

ul li{
    display: inline-block;
   
    
}
ul li a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    text-transform: capitalize;
    
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
    color: white;
    width: 40%;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 18px;
    margin: 15px 0;
}
.content .text a{
    text-decoration: none;
    background: #fff;
    color: black;
    padding: 8px 20px;
    border-radius: 40px;
    transition: 0.5s;
}
.content .text a:hover{
    color: goldenrod;
    border: 2px solid goldenrod;
}
.content .image{
    width: 30%;
}
.content .image img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.icons img:hover{
    transform: scale(1.3);
}
